body, header{
    background-color: #DCD2CC;
    border-color: #DCD2CC;
}
.pageTitle{
    font-family: "Nunito", sans-serif;
    font-size: 2em;
    font-style: italic;
    font-weight: 1000;
    background-color: #CCAFA5;
    color : black;
}

.formConnect input{
    background-color: #DCD2CC;
}

.formConnect{
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 500;
    background-color:#EDE7DC;
    color : black;
}
footer{
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color : black;
    background-color: #CCAFA5;
    border-color: #CCAFA5;
}

.btn-primary {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    --bs-btn-color: black;
    --bs-btn-bg: #BDC3CB;
    --bs-btn-border-color: black;
    --bs-btn-border-radius: 10px;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #CCAFA5;
    --bs-btn-hover-border-color: #CCAFA5;
    --bs-btn-focus-shadow-rgb: #CCAFA5;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #CCAFA5;
    --bs-btn-active-border-color: #CCAFA5;
    --bs-btn-active-shadow: inset 0 3px 5px #CCAFA5;
    --bs-btn-disabled-color: black;
    --bs-btn-disabled-bg: #FFF;
    --bs-btn-disabled-border-color: #FFF;
}
@media (max-width: 576px) { 
    body, header, footer, .btn-primary{
        font-size: smaller;
    }
    header a img{
        height: 80px;
    }    
}