body, header{
    background-color: #DCD2CC;
    border-color: #DCD2CC;
}
.pageTitle, h1{
    font-family: "Nunito", sans-serif;
    font-size: 1.3em;
    font-style: italic;
    font-weight: 800;
    background-color: #CCAFA5;
    color : black;
}

.btn-primary:hover{
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}

.formConnect input{
    background-color: #DCD2CC;
}

.formConnect{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    background-color:#EDE7DC;
    color : black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
}

td{
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.tabMissions {
    text-align: center;
    background-color:#EDE7DC;
    color : black;
}
.detailMission{
    background-color:#EDE7DC;
    color : black;
}

.attributName{
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.attributValue{
    font-family: "Martel Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    color : black;
}

.menuBack, .menuBackMobile{
    background-color: #EDE7DC;
    border: 1px solid black;
}

.menuBackMobile .btn-back{
    width : 6.1rem; 
    height: 3rem;
    font-size: 1em;
}
footer{
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color : black;
    background-color: #CCAFA5;
    border-color: #CCAFA5;
}
.btn-back{
    width : 7.3rem; 
    height: 3rem;
}
.btn-primary {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    --bs-btn-color: black;
    --bs-btn-bg: #BDC3CB;
    --bs-btn-border-color: black;
    --bs-btn-border-radius: 10px;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #CCAFA5;
    --bs-btn-hover-border-color: #CCAFA5;
    --bs-btn-focus-shadow-rgb: #CCAFA5;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #CCAFA5;
    --bs-btn-active-border-color: #CCAFA5;
    --bs-btn-active-shadow: inset 0 3px 5px #CCAFA5;
    --bs-btn-disabled-color: black;
    --bs-btn-disabled-bg: #FFF;
    --bs-btn-disabled-border-color: #FFF;
}
@media (max-width: 576px) { 
    body, header, footer, .btn-primary{
        font-size: smaller;
    }
    header a img{
        height: 80px;
    }    
    .pageTitle, h1{
        font-size: 1.1em;
    }
}

@media (max-width: 768px ){
    .btn-back{
        width : 5.3rem; 
        height: 2.8rem;
        font-size: 0.6em;
    }
}